
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

window#waybar {
    background-color: alpha(rgb(10, 12, 11), 1);
    border-bottom: none;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 20px;
}

#clock, #battery, #pulseaudio{
    background-color: rgba(0, 139, 139, 0.5);
    border-radius: 20px;
    border: 1px solid rgb(0, 128, 128);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}